/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-white: #fff;

/* NORMALIZATION */
/* universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 

This is a technique to convert all px units to rem
With this, if you change the value of font-size in html selector, all the page will change together.
so you can simply decide better designs in different sizes!

*/
html {
  font-size: 62.5%; /* used to convert all px units to rem */
  /* the percentual is just to accept users configuration */
  /* 62.5% = 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  /* padding: 30px; */
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: 
    linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
    
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  /* top: 40px; */
  /* left: 40px; */
  top: 4rem;
  left: 4rem;
}

.header__logo {
  /* height: 35px; */
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  /* adjusting box position */
  top: 40%; /* related to parent element */
  left: 50%; /* related to parent element */
  transform: translate(-50%, -50%);  /* related to the current element */
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* fix unwanted shakes when transforming. In this case, this is the div that shakes sometimes */
  backface-visibility: hidden;

  /* margin-bottom: 60px; */
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  /* font-size: 60px; */
  font-size: 6rem;
  font-weight: 400;
  /* letter-spacing: 35px; */
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-iteration-count: 3; */
  /* animation-delay: 1s; */
}

.heading-primary--sub {
  display: block;
  /* font-size: 20px; */
  font-size: 2rem;
  font-weight: 700;
  /* letter-spacing: 17.4px; */
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

/* ANIMATIONS */

@keyframes moveInLeft {
  /* how you want the element looks like before start */
  0% {
    opacity: 0;
    /* transform: translateX(-100px);     */
    transform: translateX(-10rem);    
  }

  80% {
    /* transform: translateX(10px); */
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* how you want the element looks like before start */
  0% {
    opacity: 0;
    /* transform: translatex(100px); */
    transform: translatex(10rem);
  }

  80% {
    /* transform: translatex(-10px); */
    transform: translatex(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  /* how you want the element looks like before start */
  0% {
    opacity: 0;
    /* transform: translatey(30px);     */
    transform: translatey(3rem);    
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding: 15px 40px; */
  padding: 1.5rem 4rem;
  display: inline-block;
  /* border-radius: 100px; */
  border-radius: 10rem;
  position: relative;

  transition: all .1s;
}

.btn:hover {
  /* transform: translateY(-3px); */
  transform: translateY(-.3rem);
  /* box-shadow: 0 10px 20px rgba(0,0,0,.2); */
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
  /* transform: translateY(-10px); */
  transform: translateY(-.1rem);
  /* box-shadow: 0 5px 10px rgba(0,0,0,.2); */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn--white {
  background-color: $color-white;
  color: $color-gray-dark;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  /* border-radius: 100px; */
  border-radius: 10rem;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInTop .5s ease-out .75s;
  animation-fill-mode: backwards;
}